cell 单元格  
两个状态：  
选中-->编辑  按下ESC  
编辑-->选中  按下Enter  

单元格模式：  
code 编码模式 运行：ctrl+enter  
makedowm 文本模式  
两个模式的切换：按下M切换markdowm  
           按下Y切换code

单元格操作：  
前提：单元格处以选中状态  
1.新增单元：按B单元格下方新增  
         按A单元格上方新增  
2.删除单元格：双击D   
3.剪切单元格 按X  
4.复制单元格 按C  
5.粘贴单元格 按V  
6.撤销单元格 按Z

查看文档shift+tab

#### 查看代码运行时间 
%time #一次运行时间  
%timeit #多次运行平均耗时  
%%time和%%timeit可以运行多行代码

1. 查看文档： shift+tab
2. 输入输出历史： In Out 
3. %time %timeit %%time %%timeit  

numpy:
1. 特点: 数据类型相同的有序的数据集合，如果初始化的数据类型不同，会强制类型统一
	 优先级： str > float > int
2. 构造：np.array(list)
	 np.ones(shape, dtype) #”1“来填充 
                 np.zeros()  #”0“填充
                 np.full(shape, dtype, fill_value)  #指定数字填充
	 np.eye(N) #单位矩阵（矩阵除法）
	 np.linspace(start, stop, num)  #等差数列  设置个数
                 np.arange([start], stop, [step]) #等差数列 设置步长
	 np.random.randint()  #随机整数 size等于shape
	 np.random.randn() #随机标准正态分布
	 np.random.normal(loc，scale，size) #普通正态分布 设置期望，方差和size
	 np.random.random() #生成小数
	 np.random.permutation() #随机索引
3. 属性：ndim：维度  
              shape：形状 
              size：总长度
              dtype：元素类型
4. 索引：访问元素：arr[index1, index2, index3...]
	 访问行：arr[行索引]
	 访问列：arr[:,列索引]
	 特殊访问的方式： 使用列表（索引列表、BOOL列表）
5. 切片: 在每一个维度上指定切片范围
	 eg. arr[rowindex1:rowindex2,colindex1:colindex2]
6. 聚合运算:
	 sum()  mean()  std()  var()  argmax()  argmin()  np.median() 
	 any()  all()   经常与逻辑表达式配合，比如查询一组数据中大于均值的所有数
7. 广播运算：
	 1. 缺失维度补1
	 2. 用已有值填充
	 最终目的：就是保证参与运算的两个数组形状一致
	 array + num
8. 排序
	np.sort() 快速排序、堆排序 
	np.partition()
9.变形
                arr.reshape() 参数是一个元组
                eg. arr.reshape((4,5))
10.级联 
                display(arr1,arr2) 相当于print
                np.concatenate((arr1,arr2),axis=1) #使用axis控制连接方向，axis指连接的维度
                np.hastack((arr1,arr2))   #horizontal水平连接
                np.vastack((arr1,arr2))   #vertical水平连接

### 5.切分

np.split  
np.vasplit  
np.hsplit

In [1]:
import numpy as np

In [2]:
arr = np.random.randint(0,100,size=(6,6))
arr

array([[26, 99, 50, 17, 96, 83],
       [ 9, 70, 19,  9, 49, 12],
       [34, 59, 77, 21, 77, 85],
       [ 0, 21, 60, 66, 33, 52],
       [39, 68, 34, 50, 31, 55],
       [92,  3, 35, 59, 22, 65]])

In [11]:
part1, part2 = np.split(arr,indices_or_sections=2,axis=0)
display(part1, part2)

array([[59, 86, 61, 46, 54, 52],
       [46, 31,  6,  6, 95, 12],
       [92, 35,  6, 62, 90, 21]])

array([[96, 94, 18, 26, 98,  6],
       [52, 89, 15, 56, 53, 14],
       [55, 68, 69, 84, 71,  8]])

In [9]:
part1, part2 = np.split(arr,indices_or_sections=2,axis=1)
display(part1, part2)

array([[97, 77, 20],
       [ 7, 83, 94],
       [81, 57, 73],
       [89,  5, 54],
       [87, 44, 36],
       [ 0, 91, 50]])

array([[40, 95, 17],
       [ 7, 11,  7],
       [93, 74, 70],
       [ 2, 16, 62],
       [16, 36, 24],
       [49, 21, 29]])

In [14]:
part1, part2, part3 = np.split(arr,indices_or_sections=[2,3],axis=1)
display(part1, part2, part3)

array([[97, 77],
       [ 7, 83],
       [81, 57],
       [89,  5],
       [87, 44],
       [ 0, 91]])

array([[20],
       [94],
       [73],
       [54],
       [36],
       [50]])

array([[40, 95, 17],
       [ 7, 11,  7],
       [93, 74, 70],
       [ 2, 16, 62],
       [16, 36, 24],
       [49, 21, 29]])

### copy（）

In [15]:
copy_array = arr.copy()
arr

array([[97, 77, 20, 40, 95, 17],
       [ 7, 83, 94,  7, 11,  7],
       [81, 57, 73, 93, 74, 70],
       [89,  5, 54,  2, 16, 62],
       [87, 44, 36, 16, 36, 24],
       [ 0, 91, 50, 49, 21, 29]])

In [19]:
copy_array[0,0] = 1000
copy_array

array([[1000,   77,   20,   40,   95,   17],
       [   7,   83,   94,    7,   11,    7],
       [  81,   57,   73,   93,   74,   70],
       [  89,    5,   54,    2,   16,   62],
       [  87,   44,   36,   16,   36,   24],
       [   0,   91,   50,   49,   21,   29]])

### 聚合

#### 1.求和

In [23]:
arr = np.random.randint(0,10,size=10)
arr

array([9, 6, 3, 2, 6, 3, 9, 5, 7, 9])

In [24]:
arr.sum()

59

In [25]:
arr.mean() #平均数

5.9

In [28]:
arr.min()

2

In [26]:
arr.max()

9

In [29]:
arr.argmax() #最大值的索引

0

In [30]:
arr.argmin() #最小值的索引

3

In [31]:
arr.std() #方差

2.5079872407968904

In [32]:
arr.var() #标准方差

6.29

In [34]:
np.median(arr) #中位数

6.0

In [40]:
data = np.arange(0,11,step=1)
data

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [42]:
np.percentile(data,[25,75]) #第二哥参数值是要求百分位的位置

array([2.5, 7.5])

In [ ]:
#any 检测一个bool数组中，是否存在一个Ture
#all 检测一个bool数组中，是否全为Ture

In [45]:
bool_list = np.array([True,True,False])
bool_list.all()

False

In [46]:
bool_list = np.array([True,True,False])
bool_list.any()

True

找出一组数据中，所有大于该数组平均值的值

In [47]:
arr

array([9, 6, 3, 2, 6, 3, 9, 5, 7, 9])

In [50]:
condition = arr > arr.mean() #广播运算，支持一个arry和任意一个数运算
condition

array([ True,  True, False, False,  True, False,  True, False,  True,
        True])

In [51]:
arr[condition]

array([9, 6, 6, 9, 7, 9])

In [59]:
#查看一个数组是否有大于十的值
(arr > 10).any()

False

In [62]:
#矩阵运算
a = np.array([[1,2],[3,4]])
b = np.array([[2,2],[3,4]])
display(a, b)

array([[1, 2],
       [3, 4]])

array([[2, 2],
       [3, 4]])

In [63]:
np.dot(a,b) #a * b

array([[ 8, 10],
       [18, 22]])

#### 2.最大值最小值

#### 3.其他聚合操作

#### 排序

np.partition(a,k)  
#k为正时，我们想要得到最小的k个数  
#k为负时，我们想要得到最大的k个数  
np.sort()

In [66]:
data = np.random.permutation(10000)
data

array([9865, 2075, 4738, ..., 4129, 6352, 2188])

In [69]:
np.partition(data,4)[:4] #[]代表的是切片

array([3, 2, 1, 0, 4])

In [73]:
np.partition(data,-3)[-3:] #

array([9997, 9998, 9999])

## Pandas的数据结构

In [ ]:
numpy array 提供了运算基础
pandas 提供了业务逻辑的处理方法

series， dataframe #一维和二维的数据处理

In [1]:
# coding=utf8
import matplotlib as mpl
import pandas as pd
from pandas import Series,DataFrame
import numpy as np

### 1.series

series 是一种类似于一维数组的对象，由俩个部分组成：  
values：一组数据（ndarry类型）  
index：相关的数据索引标签  
增加了key-value 的访问机制

#### 1）series的创建

In [6]:
name = ["tom","lucy","jack","mery"]
s = Series(name)

由ndarray创建的是引用，而不是副本。对series元素的改变也会改变ndarray对象中的元素

In [77]:
name

['tom', 'lucy', 'jack', 'mery']

In [78]:
s2 = Series(data=name,index=["key1","key2","key3","key4"])
s2

key1     tom
key2    lucy
key3    jack
key4    mery
dtype: object

#### 2)由字典创建

In [3]:
dic = {
    "k3":"tom",
    "k1":"mery",
    "k2":"lucy"
}
s3 = Series(data=dic)
s3

k3     tom
k1    mery
k2    lucy
dtype: object

练习：  
使用多种方法创建Series

In [87]:
Series(data=[150,150,150,300],index=["语文","数学","英语","理综"])

语文    150
数学    150
英语    150
理综    300
dtype: int64

In [4]:
dic = {"语文":150,
       "数学":150,
       "英语":150,
       "理综":300
}

d = Series(dic)
d

语文    150
数学    150
英语    150
理综    300
dtype: int64

#### 3） Series的索引和切片

In [15]:
arr = np.random.randint(0,100,size=5)
arr

array([16, 70, 65, 34, 35])

In [17]:
# Series的访问完全兼容numpy的数组访问
name = ["tom","lucy","jack","mery"]
s = Series(name)
s

0     tom
1    lucy
2    jack
3    mery
dtype: object

In [93]:
s[0]

'tom'

In [95]:
s[[0,1,1,0]]

0     tom
1    lucy
1    lucy
0     tom
dtype: object

In [96]:
s[[True,True,False,False]]

0     tom
1    lucy
dtype: object

In [101]:
s[1]

'lucy'

In [30]:
#使用loc, 配合显示索引，官方推荐的访问
d.loc["语文"]
d.loc[["语文","数学"]]

语文    150
数学    150
dtype: int64

In [34]:
#使用iloc, 配合隐式索引，官方推荐的访问
d.iloc[0]
d.iloc[[0,1]]

语文    150
数学    150
dtype: int64

In [53]:
#使用series的bool方式访问，需要注意索引对齐，顺序不要求一直，内容和长度要求一致
s_bool = Series(data=[True,True,False,False],index=["语文","数学","英语","理综"])
n_bool = np.array([True,True,False,False])
l_lool = [True,True,False,False]

In [47]:
d[n_bool]

语文    150
数学    150
dtype: int64

In [54]:
d[s_bool]

语文    150
数学    150
dtype: int64

In [50]:
d > 150

语文    False
数学    False
英语    False
理综     True
dtype: bool

##### 切片

In [5]:
d

语文    150
数学    150
英语    150
理综    300
dtype: int64

In [57]:
d[1:3]

数学    150
英语    150
dtype: int64

In [58]:
d["语文":"英语"] #所有显示索引切片都是闭区间

语文    150
数学    150
英语    150
dtype: int64

In [61]:
d.loc["语文":"英语"]

语文    150
数学    150
英语    150
dtype: int64

In [62]:
d.iloc[1:3]

数学    150
英语    150
dtype: int64

索引访问：  
  字典访问： s[key]     
  下标访问： s[index]  
  loc访问：  s.loc[key]  
  iloc访问： s.iloc[index]  
  列表访问： 结合上面4种方法  
  Bool列表访问： list, numpy, 长度匹配  
		 Series 长度匹配，索引匹配  
切片操作：  
	注意： 索引操作都是闭区间，下标操作都是开区间  
  下标： s[index1:index2]  
  loc    
  iloc

### 2.series的基本概念

可以通过shape，size，index，values等得到series的属性

In [12]:
d

语文    150
数学    150
英语    150
理综    300
dtype: int64

In [13]:
d.shape

(4,)

In [14]:
d.size #元素的个数

4

In [15]:
#获取显示索引
d.index

Index(['语文', '数学', '英语', '理综'], dtype='object')

In [16]:
d.values

array([150, 150, 150, 300], dtype=int64)

In [22]:
#查找
(d.index == "语文").any()

True

In [6]:
d2 = Series(data=np.random.randint(0,150,size=4),index=d.index)
d2

语文    50
数学    34
英语    38
理综    14
dtype: int32

In [30]:
#切片操作，一般用于查看数据
d.head(2)
#d.tail(1)  #切尾部

理综    300
dtype: int64

可以使用pd.isnull(),pd.notnull(),或者自带isnull(),notnull()函数检测缺失数据

In [7]:
d3 = Series(data=dic,index=["语文","数学","英语","理综","体育"])
d3

语文    150.0
数学    150.0
英语    150.0
理综    300.0
体育      NaN
dtype: float64

In [32]:
d3.isnull()

语文    False
数学    False
英语    False
理综    False
体育     True
dtype: bool

In [33]:
d3.isnull().any()

True

In [35]:
d3.notnull()

语文     True
数学     True
英语     True
理综     True
体育    False
dtype: bool

Series对象本身及其示例都有一个name属性

In [37]:
d3.name = "学科"
d3

语文    150.0
数学    150.0
英语    150.0
理综    300.0
体育      NaN
Name: 学科, dtype: float64

排序

In [8]:
score = Series(data=np.random.randint(0,100,size=5),index=list("bcdae"),name="score")
score

b    16
c     8
d    69
a    88
e     6
Name: score, dtype: int32

In [40]:
score.sort_values(ascending=False)

e    97
a    54
c    38
d    28
b    19
Name: score, dtype: int32

In [41]:
score.sort_index(ascending=True)

a    54
b    19
c    38
d    28
e    97
Name: score, dtype: int32

统计值出现的次数

R 最近消费时间  
F 频率  
M 消费金融

In [43]:
user_id = Series(data=np.random.randint(0,10,100))
user_id

0     3
1     1
2     2
3     9
4     4
     ..
95    1
96    1
97    6
98    4
99    0
Length: 100, dtype: int32

In [44]:
user_id.value_counts

<bound method IndexOpsMixin.value_counts of 0     3
1     1
2     2
3     9
4     4
     ..
95    1
96    1
97    6
98    4
99    0
Length: 100, dtype: int32>

#### 4）Series的运算

numpy  聚合
     广播机制

In [45]:
n = np.array([1,2,3,4,5])
n + 4

array([5, 6, 7, 8, 9])

In [47]:
score + 2

b    21
c    40
d    30
a    56
e    99
Name: score, dtype: int32

In [48]:
score + n

b     20
c     40
d     31
a     58
e    102
Name: score, dtype: int32

(2)Series之间的运算  
在运算中自动对齐不通索引的数据  
如果索引不对应，则补NaN

In [10]:
s1 = Series(data=np.random.randint(0,10,size=5),index=list("abcde"))
s2 = Series(data=np.random.randint(0,10,size=4),index=list("ebca"))
display(s1,s2)

a    5
b    3
c    3
d    9
e    4
dtype: int32

e    9
b    3
c    0
a    4
dtype: int32

In [11]:
s1 + s2

a     9.0
b     6.0
c     3.0
d     NaN
e    13.0
dtype: float64

注意：想要保留所有的index，则需要使用  
add（）加  
sub（）减  
mul（）乘  
div（）除

In [15]:
s1.add(s2,fill_value=0)

a     9.0
b     6.0
c     3.0
d     9.0
e    13.0
dtype: float64

In [20]:
index1 = ["语文","数学","英语","理综"]
index2 = ["语文","数学","英语","文综"]

score1 = Series(data=np.random.randint(0,150,size=4),index=index1,name="理科")
score2 = Series(data=np.random.randint(0,150,size=4),index=index2,name="文科")
display(score1,score2)

语文    105
数学     92
英语     34
理综     67
Name: 理科, dtype: int32

语文    66
数学    85
英语    22
文综    55
Name: 文科, dtype: int32

In [21]:
score2 + score1 #NaN和任何运算都是空值

数学    177.0
文综      NaN
理综      NaN
英语     56.0
语文    171.0
dtype: float64

In [23]:
score1.add(score2,fill_value=0)

数学    177.0
文综     55.0
理综     67.0
英语     56.0
语文    171.0
dtype: float64

In [32]:
index = ["lucy","mery","tom","jack"]
python = Series(data=np.random.randint(0,100,size=4),index=index,name="python")
java = Series(data=np.random.randint(0,100,size=4),index=index,name="java")
display(python,java)

lucy    17
mery    95
tom      3
jack     2
Name: python, dtype: int32

lucy    73
mery    49
tom      9
jack    80
Name: java, dtype: int32

In [37]:
(python + java)/2

lucy    45.0
mery    72.0
tom      6.0
jack    41.0
dtype: float64

In [38]:
#python[python < 60]
python.loc[python < 60]

lucy    17
tom      3
jack     2
Name: python, dtype: int32

In [35]:
python.loc[python < 60].index #python不及格的学生名字

Index(['lucy', 'tom', 'jack'], dtype='object')

In [41]:
python.loc["mery"] += 10
python

lucy     17
mery    105
tom       3
jack      2
Name: python, dtype: int32

In [44]:
#求平均值
# python.values.mean()
python.mean()

31.75

常用操作：  
	属性访问：index，values, dtype, shape  
	查看头尾n个元素： head(), tail()  
	isnull(), notnull() 配合 any(), all()  
	值排序：sort_values(ascending=True)  
	索引排序：sort_index()  
	统计元素次数：value_counts()  
	去重操作：unique()  [A, B, A, B, C] --> [A, B, C]  
	
运算：  
	Series + num    广播  
	Series + numpy  先转换成numpy类型再运算  
	Series + Series 索引对齐，不对齐补空值  
	操作函数： add, sub, mul, div  
	或者可以先处理空值再运算

### 2.DataFrame

表格数据结构：二维数据，有行有列，且都有索引  
是Series的字典

In [2]:
dic ={
    "userid":Series([001,002,003]),
    "uname":Series([lucy,mery,tom])
}
dic

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (705711947.py, line 2)

In [3]:
DataFrame(data=np.random.randint(0,100,size=(3,5)),index=list("adc"),columns=list("ABCDE"))

    A   B   C   D   E
a  25  56  68  91  10
d  56  36  76  70  17
c  66   0  42  71  90

In [4]:
dic = {
    "A":np.random.randint(0,100,size=3),
    "B":np.random.randint(0,100,size=3),
    "C":np.random.randint(0,100,size=3),
    "D":np.random.randint(0,100,size=3),
    "E":np.random.randint(0,100,size=3)
    
}
DataFrame(data=dic,index=list("abc"))

    A   B   C   D   E
a  15  93  99  83  71
b  63  88   7  34  26
c  75  49  58  78  67

In [ ]:
pd.read_csv()
pd.read_table()
pd.read_excel()

In [80]:
# coding=utf8
df=pd.read_excel("配置.xlsx",header=0,index_col=0,sheet_name=0)
df

                12400F    1589
CPU
主板        华硕H610M-A D4     NaN
显卡                3080  4599.0
内存    酷兽 金甲 3200 8G *2   244.0
内存           恺侠RC20 1T   422.0
电源   鑫谷GP700G黑金版（600W）   273.0
机箱                 NaN   150.0
散热            玄冰400 v5    73.0
显示器        海信 27G5F-SE  1199.0
NaN                NaN  8549.0

In [81]:
#保存文件
df.to_excel("mydata.xls")

C:\Users\zhijiang.li\AppData\Local\Temp\ipykernel_10152\1294478129.py:2: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  df.to_excel("mydata.xls")

实打实的黑龙江

In [5]:
arr = np.random.randint(0,100,size=(6,6))
arr

array([[31, 13, 50, 70, 48, 47],
       [92, 47, 19, 28, 55, 66],
       [46, 54, 50, 85, 46, 55],
       [80, 66, 54, 92, 50, 72],
       [91, 59, 43, 38,  0, 85],
       [56, 75, 58, 65, 69, 59]])

#